@import "tailwindcss";

@font-face {
    font-family: 'basel-grotesk';
    src: url("../../dist/assets/fonts/basel-grotesk-book-webfont.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'basel-grotesk';
    src: url("../../dist/assets/fonts/basel-grotesk-medium-webfont.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'basel-grotesk';
    src: url("../../dist/assets/fonts/basel-grotesk-bold-webfont.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@theme {
    --color-*: initial;
    --color-white: #fff;
    --color-black: #000;
    --color-sand: #F2EEEB;
    --color-oat: #FAFAF8;
    --color-berry-100: #EAB8F2;
    --color-berry-200: #7A005D;
    --color-berry-300: #4A0039;
    --color-mulberry: #4F2637;

    --font-basel: 'basel-grotesk', sans-serif;
}

@utility no-spinner {
    /* Chrome, Safari, Edge, Opera */
    &::-webkit-outer-spin-button {
        -webkit-appearance: none !important;
        margin: 0 !important;
    }
    &::-webkit-inner-spin-button {
        -webkit-appearance: none !important;
        margin: 0 !important;
    }
    /* Firefox */
    &[type="number"] {
        -moz-appearance: textfield !important;
    }
}

/* Campaign Monitor Form */
/* .iIDDUy {
        width: 100% !important;
        max-width: 50rem !important; 
        margin: 0 !important;
        position: relative;
    }

    .ebeRtN {
        align-items: flex-start;
        display: flex;
    }

    .fiUAra {
        font-size: 0.875rem;
        padding-left: 0.5rem;
        overflow-wrap: break-word;
        word-break: break-word;
        font-weight: 400;
        color: #FFF;
        position: relative;
        top: 2px;
    }

    .jMsntP {
        color: #EAB8F2;
        font-weight: 400;
        font-size: 0.75rem;
        margin-left: 0.125rem;
    }

    .eKOoKL {
        flex-shrink: 0;
        height: 1rem;
        position: relative;
        top: 0.08rem;
        width: 1rem;
    }

    .hcHtYO {
        font-weight: 400;
        color: #FFF;
        display: block;
        font-size: 16px;
    }

    .iAluhu {
        font-weight: 400;
        color: #FFF;
        display: block;
        font-size: 16px;
    }

    .fcxXcl {
        font-weight: 400;
        color: #FFF;
        display: block;
        font-size: 16px;
    }

    .gNjtmr {
        font-weight: 400;
        color: #FFF;
        display: block;
        font-size: 16px;
    }

    .cKauoa {
        font-weight: 400;
        color: #FFF;
        display: block;
        font-size: 16px;
    }

    .iFTUZ {
        color: #EAB8F2;
    }

    .dshyOS {
        appearance: none;
        background-color: rgb(255, 255, 255);
        border: 0px;
        border-radius: 0.5rem;
        box-sizing: border-box;
        color: #000;
        font-size: 0.875rem;
        line-height: 1.5;
        min-height: 2.8125rem;
        outline: 0px;
        padding: 0.75rem 1rem;
        width: 100%;
    }

    .dshyOS:focus {
        box-shadow: transparent 0px 0px 0px 0px inset, #EAB8F2 0px 0px 0px 1px inset, #4A0039 0px 0px 0px 2px;
    }

    .jZSLFe {
        margin-bottom: 0.5rem;
    }

    .kXIIFK {
        margin-bottom: 1rem;
    }

    .jslhpj {
        margin-left: auto;
        margin-right: auto;
        max-width: 29.125rem;
        padding-bottom: 3.125rem;
    }

    .kFBOaz {
        border-bottom: 1px solid #FFF;
        margin-bottom: 1.5rem;
        padding-top: 1.5rem;
    }

    .coBuPy {
        border-bottom: 1px solid #FFF;
        margin-bottom: 0.75rem;
        padding-top: 0.75rem;
    }

    .cVhqQi {
        margin-bottom: 0.25rem;
    }

    @-webkit-keyframes iECmZH {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    @keyframes iECmZH {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    .ivuZqo {
        background-color: #EAB8F2;
        border: 2px solid #EAB8F2;
        border-radius: 6px;
        color: #4F2637;
        display: inline-block;
        font-size: 16px;
        Font-weight: bold;
        line-height: 1;
        outline: 0px;
        padding: 0.75rem 1.5rem;
        text-decoration: none;
    }

    .ivuZqo:hover {
        cursor: pointer;
    }

    .gmfawT {
        white-space: pre-wrap;
        font-size: 16px;
        color: #000;
    }

    button,
    label,
    p {
        overflow-wrap: break-word;
        word-break: break-word;
    } */
